*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* taille de box*/
.w25{
    width: 25%;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

.w40{
    width: 40%;
}

.w70{
    width: 70%;

}
/* taille de box */

/* flex */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBeteween{
    justify-content: space-between;
}

.alingnCenter{
    align-items: center;
}
/* flex*/

h1,h2,h3{
    font-family: "Alice", serif;
}

h1{
    font-size: 50px;
    margin: 20px 0;
}

p{
    font-family: "Noto Sans", sans-serif;
}

.bgRed{
    background-color: red;
}
.bgBlue{
    background-color: blue;
}
.puceNone{
    list-style: none;
}

a{
    text-decoration: none;
}

.white{
    color: white;
}

.black{
    color: black;

}

.black:hover{
    color: #4d3e9a;
}
/* header*/
header{
    padding: 20px 0;
    background-color: rgba(218, 218, 234, 0.267);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 200px;
}

header>nav {
    margin: auto;
}

.logo{
    width: 100px;
}
/* header*/

/* Hero*/
.sectionHero{
    height: 100vh;
    position: relative;
}
.bgHero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.divHero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 9%;
}

.divHero>p{
    font-size: 25px;
}

.carteViolette {
    background-color: rgba(137, 43, 226, 0.404);
    display: block;
    width: 30%;
    padding: 40px 0;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(6px);
}
.sectionSevices{
    position: relative;
    top: -50px;
}

.tailleImg {
    width: 300px;
}
